body, pre, pre code, pre:not([class]) {
  background-color: rgb(169,169,169);
}

section code{
  text-align: left !important;
  font-size: .8em;
  margin-left: 0 !important;
  margin-right: 0 !important
}

h1.subtitle {
  font-size: 1em;
}

h2.author, h3.date {
  font-size: .8em;
}

img{
  border: 0px !important;
  box-shadow: none !important;
  background: transparent !important;
}

img{
  max-height: 550px !important;
}

.reveal section img{
  border:0;
}

div.reveal {
  background-image: url("../img/AP_Logo_Wide_White_NL.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 150px 50px !important;
}

div.reveal:after{
  content: "Labo_13";
  font-style: normal;
  font-size:.5em;
  margin: 0 50%;
}

.reveal a{
  color: rgb(220, 220, 220) !important;
}
.reveal a:hover{
  color:white !important;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled
{
    border-left-color: lightgrey !important;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled
{
    border-right-color: lightgrey !important;
}

.reveal .controls .navigate-up
{
  border-bottom-color: lightgrey !important;
}

.reveal .controls .navigate-down
{
  border-top-color: lightgrey !important;
}

.reveal h2{
  margin: 0 0 60px 0;
}

.reveal .progress span {
    background: lightgrey;
}

code span.im { color: white !important;  }
